# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Dados gerados
data/intermediate/*
data/processed/*
data/rejected/*

# Mantém as pastas versionadas
!data/intermediate/.gitkeep
!data/processed/.gitkeep
!data/rejected/.gitkeep

# Sistema / editor
.DS_Store
.vscode/
.idea/